<div class="h-screen flex justify-center items-center bg-gradient-to-b from-pink-500 to-purple-500">
    <p-card class="w-full max-w-md rounded-lg shadow-2xl w-96 transform transition-all duration-500 ease-in-out hover:scale-105">
      <div class="text-center mb-5">
        <h2 class="text-3xl font-bold">Iniciar Sesión</h2>
      </div>
      <form [formGroup]="singInForm">
        <!-- Usuario -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="username">Usuario</label>
          <div class="mt-1 relative rounded-md shadow-sm">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="pi pi-user text-gray-400"></i>
            </span>
            <input
              type="text"
              id="username"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md text-gray-900"
              placeholder="Ingresa tu usuario"
              formControlName="username"
            />
          </div>
        </div>
  
        <!-- Contraseña -->
        <div class="mb-6">
          <label class="block text-sm font-medium text-gray-700" for="password">Contraseña</label>
          <div class="mt-1 relative rounded-md shadow-sm">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="pi pi-lock text-gray-400"></i>
            </span>
            <input
              type="password"
              id="password"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md text-gray-900"
              placeholder="Ingresa tu contraseña"
              formControlName="password"
            />
          </div>
        </div>
  
        <!-- Botón de Iniciar Sesión -->
        <div class="flex justify-center">
            <p-button label="Iniciar Sesión" severity="secondary" [disabled]="singInForm.invalid" (onClick)="login()"/>
        </div>
  
        <!-- Enlace de registro -->
        <div class="mt-4 text-center">
          <p class="text-sm text-gray-500">
            ¿No tienes una cuenta? 
            <a href="#" class="text-purple-600 hover:text-purple-800 font-semibold" >Regístrate</a>
          </p>
        </div>
      </form>
    </p-card>
  </div>
  